@page "/temperature_converter"
@rendermode RenderMode.InteractiveServer


<form class="container">
    <div class="card col-sm-6 col-12">
        <div class="card-header">
            <h1 class="text-primary text-center" style="font-weight:600">Temperature Converter</h1>
        </div>
        <div class="card-body">
            <div class="col-4 d-block">
                <label class="mb-2 text-center">Temperature Input</label>
                <input name="inputText" @bind="inputValue" type="number" class="text-center border-1 rounded" />
            </div>

            <div class="mt-4">
                <input id="ctof" type="radio"  class="me-2" name="radioBtns" checked="@(radioSelection=="CtoF")" @onclick=@(()=>radioSelection="CtoF") />
                <label for="ctof">Celsius > Fahrenheit</label><br />
                <input id="ftoc" type="radio" class="me-2" name="radioBtns" checked="@(radioSelection=="FtoC")" @onclick="@(()=>radioSelection="FtoC")" />
                <label for="ftoc">Fahrenheit > Celsius</label><br />
               
            </div>

            <div class="d-flex justify-content-center">
                <button type="button" class=" btn btn-primary mt-4 me-1 w-25 " @onclick=ShowResult> Convert </button>
                <button type="button" class=" btn btn-secondary mt-4 w-25" @onclick=Reset> Reset </button>

            </div>

            <div class="d-flex justify-content-center">
                @if (wasClicked)
                {
                    <h3 class="mt-5">@result</h3>
                }

            </div>

        </div>
        <div class="card-footer">
        </div>
    </div>

</form>

@code {
    double inputValue;
    bool isChecked;

    string teststr;


    
    public string CtoF { get; set; }
   
    public string FtoC { get; set; }



    private string radioSelection = "";

    private string result = string.Empty;
    bool wasClicked = false;

    public void ShowResult()
    {

        if (radioSelection == "CtoF")
        {
            result = ((inputValue * 9 / 5) + 32).ToString("0.00") + " °C";
            wasClicked = true;
        }
        else if (radioSelection == "FtoC")
        {
            result = ((inputValue - 32) * 5 / 9).ToString("0.00") + " °C";
            wasClicked = true;
        }
        else
        {
            result = "Not Selected";
            wasClicked = true;
        }

    }
    private void Reset(MouseEventArgs e)
    {
       
        result = "";
        inputValue = 0;
        radioSelection = "";
    }
}
