<div>
    <h4 class="text text-primary pt-3">Another Child Component</h4>
    <input id="name" placeholder="@Placeholder" />
</div>
@code {
    [Parameter]
    public string Placeholder { get; set; } = "Input your name";
}
