
@if(IsActive){
    <button class="btn btn-success col-3 text-black">@buttonName1</button>
    <button class="btn btn-danger col-3 text-black">@buttonName2</button>
}
@code {
    [Parameter]
    public string buttonName1 { get; set; } = string.Empty;
    [Parameter]
    public string buttonName2 { get; set; } = string.Empty;
    [Parameter]
    public bool IsActive { get; set; }


}
