@page "/"
@rendermode InteractiveServer


<input @onchange="InputChanged"/>

<Counter Increment="message"/>


<div class="mt-5">
<button class="btn btn-primary" @onclick="()=>currentCounter++">Count</button>

@if (currentCounter!=0)
{
    <p>@currentCounter</p>
}
</div>

@code {
    int message = 0;

    int currentCounter = 0;

    void InputChanged(ChangeEventArgs e)
    {
        message = int.Parse(e.Value.ToString());
    }
}