@model Category

@{
    ViewData["Title"] = "Delete";
}

<form method="post">
    <div class="border p-3 mt-4 row">
        <h2 class="text text-primary">@ViewData["Title"]: @Model.Name (@Model.Id)</h2>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3 row pt-1">
            <label asp-for=Name class="pt-0" style="font-weight:600"></label> @*asp-for displays name of category parameters.*@
            <input asp-for="Name" class="text-dark form-control border bg-dark bg-opacity-10" disabled/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row pt-1">
            <label asp-for=DisplayOrder class="pt-0" style="font-weight:600"></label>
            <input asp-for="DisplayOrder" class=" text-dark form-control border bg-dark bg-opacity-10" disabled />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>

        </div>
        <div class="row justify-content-center">
            <div class=" row col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class=" col-6 col-md-3">
                <button asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back</button>
            </div>
        </div>
    </div>
</form>