@rendermode InteractiveServer
@page "/demoproduct"


<div class="col">
    <h3 class="text-primary">DemoProduct</h3>
</div>
<div>
    <p>Favorite selected: @favSelected</p>
    <p>Last selected Product: @lastProdSelecter</p>
</div>

<div class="row border" style="background-color:azure ">

    @foreach (var item in bindProp.Products)
    {
        <_DemoProductComponent demo_Product="@item" OnFavoliteUpdated="CountSelected" OnClickProductUpdated="GetLastProdSelected" />
    }
</div>


@code {

    BindProp bindProp = new();

    private int favSelected = 0;

    private string lastProdSelecter = string.Empty;

    private void CountSelected(bool isSelected)
    {
        if (isSelected) favSelected++;
        else favSelected--;

    }

    private void GetLastProdSelected(string productName)
    {
        lastProdSelecter = productName;
    }

}
