@page "/ParentComponentPage"


<h3>Parent Child Repation</h3>
<_ChildComponent Title="This title is passed as parameter from Parent Component" >
   This is additional text.
</_ChildComponent>


<_AnotherChildComponent Placeholder="Just write"></_AnotherChildComponent>

@code {

}
