@page
@model BulkyWebRazor_Temp.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4 row">
        <h2 class="text text-primary">@ViewData["Title"]</h2>
        <hr />
        <div>
            <input asp-for="Category.Id" hidden />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3 row pt-1">
            <label asp-for="Category.Name" class="pt-0" style="font-weight:600"></label> @*asp-for displays name of category parameters.*@
            <input asp-for="Category.Name" class="text-dark form-control border"/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row pt-1">
            <label asp-for="Category.DisplayOrder" class="pt-0" style="font-weight:600"></label>
            <input asp-for="Category.DisplayOrder" class=" text-dark form-control border" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>

        </div>
        <div class="row justify-content-center">
            <div class=" row col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class=" col-6 col-md-3">
                <button asp-page="/categories/Index" class="btn btn-outline-secondary form-control">Back</button>
            </div>
        </div>
    </div>
</form>