@model List<Product>;

    <h1>Product List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th> Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>ISBN</th>
            <th>ListPrice</th>
            <th>Price</th>
            <th>Price50</th>
            <th>Price100</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m=>m.Title))
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
                <td></td>

            </tr>
        }
    </tbody>
</table>