@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h2>Welcome @RandomeName() to your new app.</h2>

<button @onclick="ChangeName">Click</button>

@code {
    private string[] UserNameArr = new string[] { "Tome", "Jack", "Michal", "Pual" };
    

    bool isClicked = false;

    private string RandomeName()
    {
        string str = "";
        bool NotMatch = false;

        while (!NotMatch)
        {
            int selectedNum = new Random().Next(UserNameArr.Length);

            if (str != UserNameArr[selectedNum])
            {
                str = UserNameArr[selectedNum];
                NotMatch = true;
                
            }
        }
        return str;
    }



    private void ChangeName()
    {
        RandomeName();
    }

}
